$primary: #264653;
$danger: #E76F51;
$success: #2A9D8F;
$secondary: #E9C46A;
@import 'node_modules/bootstrap/scss/bootstrap.scss';

body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  padding: 1% 0 !important;
}


